#ranking-rugby-wrapper {
    margin: 4rem auto;
}

#ranking-rugby-wrapper table {
    border-radius: 6px;
    overflow: hidden;
    width: 100% !important;
    margin-bottom: 10px;
}

#ranking-rugby-wrapper td,
#ranking-rugby-wrapper th {
    padding: 5px !important;
    font-family: var(--font-3);
    font-size: 11px !important;
    text-align: center !important;
    width: auto !important;
}

#ranking-rugby-wrapper table tbody tr:first-child > td:last-child,
#ranking-rugby-wrapper table tbody tr:nth-child(2) > td:last-child {
    background-color: #78dcaa;
    color: white;
    font-weight: bold;
}

#ranking-rugby-wrapper tr:nth-of-type(even) {
    background-color: #f0eded;
}

#ranking-rugby-wrapper thead tr {
    background-color: #19194b;
}

#ranking-rugby-wrapper thead tr th {
    color: #fff;
}

#ranking-rugby-wrapper h3 {
    font-family: var(--font-3);
    font-size: 18px;
    color: var(--color-primary-text-inverse);
    padding: 0 40px 0 20px;
    border-radius: 6px 10px 50px 6px;
    background-color: #19194b;
    width: fit-content;
}

#ranking-rugby-wrapper .Enhancement {
    margin: 20px 0 !important;
    max-width: unset !important;
    width: 100% !important;
}

#ranking-rugby-wrapper h3.grupo-a {
    background-color: #78dcaa;
}

#ranking-rugby-wrapper h3.grupo-b {
    content: "Grupo B";
    background-color: #cd73d7;
}

#ranking-rugby-wrapper h3.grupo-c {
    background-color: #50c8e6;
}

#ranking-rugby-wrapper h3.grupo-d {
    background-color: #ff5573;
}

.referencias-rugby {
    display: flex;
    align-items: center;
    gap: 10px;
    row-gap: 0;
    font-size: 8px;
    font-family: var(--font-3);
    flex-wrap: wrap;
    letter-spacing: 1px;
    justify-content: center;
    margin-bottom: 50px !important;
    padding: 0 !important;
}

.referencias-rugby li {
    list-style-type: none;
}

.fixture-title {
    display: flex;
    border-radius: 6px;
    margin-bottom: 4rem;
    box-shadow: 0 3px 10px var(--color-border);
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.fixture-title img {
    width: 40px;
}

.fixture-title h2 {
    font-family: var(--font-3);
    color: #19194b;
    font-size: 20px;
    text-transform: uppercase;
}

.new-list-sponsor {
    display: flex;
    width: 100%;
    gap: 16px;
    padding: 16px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (min-width: 480px) {
    #ranking-rugby-wrapper td,
    #ranking-rugby-wrapper th {
        padding: 5px 15px;
        font-size: 14px;
    }

    #ranking-rugby-wrapper {
        padding-left: calc(50% - 240px);
        padding-right: calc(50% - 240px);
    }
}
