:root {
    --titleColor: #000000;
    --colorPrimary: #fc2e20;
    --colorSecondary: #b5bfd9;
    --colorToogle: #ededeb;
    --colorPlaceHolder: rgba(0, 0, 0, 0.3);
    --borderRadiusRounded: 30px;
    --borderRadiusBox: 5px;
}
body {
    padding: 0;
    margin: 0;
}

.faq-container {
    display: flex;
    padding: 1rem;
}

.faq-content-container {
    position: relative;
    padding-left: 1rem;
    flex-grow: 1;
}

.faq-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.faq-divider {
    border-top: 1px solid var(--colorPrimary);
    width: 100%;
    position: absolute;
    /* width: 102%; */
    left: 0;
}
.faq-subtitle {
    font-size: 0.8rem;
    padding: 1rem;
    padding-left: 0;
}
details[open] summary ~ * {
    animation: open 0.3s ease-in-out;
}

details summary {
    width: 100%;
    padding: 1rem 0.5rem;
    border-top: 1px solid var(--colorSecondary);
    position: relative;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 300;
    list-style: none;
    display: flex;
    outline: 0;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
}
.chevron-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    flex-shrink: 0;
    color: var(--colorPrimary);
    background-color: var(--colorToogle);
    font-size: 1.5rem;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.faq-container-details summary:hover {
    background-color: #ffb1b2;
    filter: saturate(50%);
}

.faq-container-details summary::-webkit-details-marker {
    display: none;
}

.faq-container-details[open] .chevron-container {
    transform: rotate(-180deg);
}
.faq-container-details[open] .chevron-container ~ * {
    animation: open 0.3s ease-in-out;
}

.faq-container-details .faq-details-description {
    font-size: 1rem;
    margin: 0 0 1rem;
    padding: 0.5rem 0.5rem;
}

.faq-icon-container {
    padding-top: 1.8rem;
}
.faq-image-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--colorPrimary);
    border-radius: 50%;
    padding: 1.5rem;
}
.faq-image-icon {
    height: 40px;
    width: 40px;
    min-width: 40px;
    min-height: 40px;
}
.faq-change-color {
    filter: invert(1);
}

@media only screen and (max-width: 768px) {
    .faq-container {
        width: 80%;
    }
    .faq-image-container {
        display: none;
    }
    .faq-content-container {
        padding-left: 0;
    }

    .arrow-container {
        font-size: 1rem;
        margin-left: 0.5rem;
    }
}
