:root {
    --titleColor: #000000;
    --colorPrimary: #fc2e20;
    --colorSecondary: #b5bfd9;
    --colorToogle: #ededeb;
    --borderRadiusRounded: 30px;
    --borderRadiusBox: 5px;
}
body {
    padding: 0;
    margin: 0;
}

.faq-container {
    display: flex;
    justify-content: center;
    /* position: relative; */
    /* gap: 1rem; */
    border: 1px solid purple;
}
.faq-image-container {
    padding-top: 2rem;
}
.faq-content-container {
    position: relative;
    padding-left: 1rem;
}
.faq-image-container .icon {
}

.faq-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.faq-divider {
    border-top: 1px solid var(--colorPrimary);
    /* width: 100%; */
    position: absolute;
    width: 102%;
    left: 0;
    /* left: -30px; */
    /* position: relative; */
}
.faq-subtitle {
    font-size: 0.8rem;
    padding: 1rem;
}
details[open] summary ~ * {
    animation: open 0.3s ease-in-out;
}

details summary {
    width: 100%;
    padding: 1rem 0.5rem;
    border-top: 1px solid var(--colorSecondary);
    position: relative;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 300;
    list-style: none;
    display: flex;
    outline: 0;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
}
.arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    flex-shrink: 0;
    color: var(--colorPrimary);
    background-color: var(--colorToogle);
    font-size: 1.5rem;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
}

.faq-container-details summary:hover {
    background-color: #ffb1b2;
    filter: saturate(50%);
}

.faq-container-details summary::-webkit-details-marker {
    display: none;
}

details[open] .arrow-container {
    transform: rotate(-90deg);
    /* font-size: 1.5rem; */
}
details[open] .arrow-container ~ * {
    animation: open 0.3s ease-in-out;
}

details .faq-details-description {
    font-size: 0.95rem;
    margin: 0 0 1rem;
    padding: 0.5rem 0.5rem;
}
.faq-image-container .icon {
    /* position: absolute; */
    /* top: -45px; */
    /* left: -80px; */
    background-color: var(--colorPrimary);
    border-radius: 50%;
    padding: 1.5rem;
    color: #fff;
}
.fa-microscope {
    font-size: 2rem;
    font-weight: 900;
}
.fa-chevron-right {
    font-size: 1rem;
}

@media only screen and (max-width: 768px) {
    .faq-container {
        width: 80%;
    }
    .faq-image-container {
        display: none;
    }
    .faq-divider {
        left: 0;
        width: 100%;
    }
    .arrow-container {
        font-size: 1rem;
        margin-left: 0.5rem;
    }
}
