:root{
    --titleColor:#000000;
    --colorPrimaryText: #333333;
    --colorPrimary: #06416a;
    --actionBgPrimary: #06416a;
    --actionBgSecondary:#fcee21;
    --actionColor:#ffffff;
    --borderColor: #ccc;
    --borderRadiusRounded:30px;
    --borderRadiusBox:5px;
    --fontSizeSmall:13px;
    --fontSizeLarge:15px;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 1rem;
    background-image:url(/assets/el-pais-bg2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
  }

.report-dialog {
    border: none;
    border-radius: var(--borderRadiusBox);
    padding: 1.5rem 2.5rem;
    position: relative;
    width: 500px;
    
}
.report-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.report-form-label {
    color: var(--colorPrimaryText);
    font-size: var(--fontSizeSmall);
    font-weight: 400;
}
.report-form-data, .report-txtarea, .report-select {
    border: 1px solid var(--borderColor);
    padding: .625rem 1.25rem;
    font-size: var(--fontSizeSmall);
}
.report-form-data, .report-select  {
    border-radius: var(--borderRadiusBox);
    min-height: 20px;   
}
.report-select{
    color:var(--colorPrimaryText);
    cursor: pointer;
}

.report-txtarea {
    border-radius: var(--borderRadiusBox);
    min-height: 150px;
    resize: vertical;
}

.name-mail-container{
    display: flex;
    justify-content: space-between; 
}

.name-container, .mail-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 45%;
}

.report-form-title {
    /* font-family: "Bitter", sans-serif; */
    display: flex;
    color: var(--titleColor);
    align-self: flex-start;
    font-size: 1.8rem;
    font-weight: 500;
}

.report-btn{
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in-out;
}
.report-btn:hover{
    transform: translateY(-4px);  
}
.small {
    padding: .5rem 1rem ;
    font-size: var(--fontSizeSmall);
}
.large {
    font-size: var(--fontSizeLarge);
    padding: .5rem 2rem;
}
.submit-btn {
    background:var(--actionColor);
    color: var(--colorPrimaryText);
    border-radius: var(--borderRadiusBox);
    font-size: 1.2rem;
    border:1px solid var(--colorPrimary)
}
.submit-btn:hover {
    color: var(--actionColor);
    background:var(--actionBgPrimary);
   
}

.close-dialog-btn {
    padding:.5rem;
    border-radius: var(--borderRadiusBox);
    position: absolute;
    top: .8rem;
    right: .8rem;
    font-size: 1.2rem;
    font-weight: 700;
    background: none;
}
.open-dialog-btn{
    /* margin-left: auto;
    margin-right: auto; */
    border-radius: var(--borderRadiusBox);
    font-weight: 700;
    background-color: var(--actionBgSecondary);
}

.dialog-btn-container {
    display: flex;
    justify-content: end;
    align-items: center;
    gap:.5rem;
    width: 58%;
}
.position-container{
    display: flex;
    align-items: end;
    height: 71vh;
}

.report-msg{
    color:var(--titleColor);
    font-size: var(--fontSizeSmall);
    font-weight: 600;
}
@media only screen and (max-width: 768px) {

    .report-dialog {
        padding: 1.5rem 2rem;
        width: 80%; 
        margin: 0 auto;
    }
    .report-form-data, .report-txtarea {
        font-size: 1rem; 
        padding: .5rem 1rem;
    }

    .name-mail-container {
        flex-direction: column; 
        gap: 1rem; 
    }
    
    .name-container, .mail-container {
        width: 100%; 
    }

    .submit-btn {
        padding: 0.8rem 2rem;
    }
    .close-dialog-btn {
        padding:.4rem .8rem;
    }
}
